@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
  font-size: 0.625rem
}

.maximum-width {
  @apply max-w-7xl mx-auto;
}

.my-rounded {
  @apply rounded-2xl;
}

.my-shadow {
  @apply shadow-lg;
}


